body{
  margin:0;
  background:#f8fafc;
  font-family:Arial, sans-serif;
}

.navbar{
  background:#1e3a8a;
  color:white;
  padding:18px 40px;
}

.container{
  max-width:950px;
  margin:auto;
  padding:40px;
}

.card,.form-box{
  background:white;
  padding:24px;
  margin-top:20px;
  border-radius:16px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

input,textarea{
  width:100%;
  padding:14px;
  margin-top:14px;
  border:1px solid #ddd;
  border-radius:10px;
  box-sizing:border-box;
}

button{
  margin-top:14px;
  background:#1e3a8a;
  color:white;
  border:none;
  padding:12px 18px;
  border-radius:10px;
  cursor:pointer;
}

button:hover{
  background:#163172;
}

.delete-btn{
  background:#dc2626;
}

.delete-btn:hover{
  background:#b91c1c;
}

.error{
  color:red;
  margin-top:10px;
}